body{
    background-image: url("https://i.ytimg.com/vi/EpoQl729BNE/maxresdefault.jpg");
    background-position: 90% ; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}
img{
    width: 600px;
    border: solid 1px blue ;
}
